h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 600;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
    font-weight: 600;
}

#diaryofamadblackwoman {
    height: 180px;
}

#Spiderman {
    height: 410px;
}

#DieHard{
    height: 380px;
}
